/* ==============================
 * Basic Styles For Article Pages
 * ==============================
 */

.wide-div {
	width: 80%;
	background-color: rgb(75, 100, 155);
	padding: 20px;
	margin: 20px auto;
}

.learn-more {
	background-color: rgb(150, 20, 20);
	padding: 20px;
	border-radius: 10px;
	width: auto;
}

h3 {
	margin-top: 20px;
}

.blue-div {
	background-color: rgb(75, 100, 155);
	box-sizing: border-box;
	padding: 20px;
	border-radius: 10px;
}

sup {
	font-size: 0.4rem;
}

#num-accounts {
	font-weight: bold;
	font-size: 5rem;
}

#num-accounts-parent {
	text-align: center;
	margin: auto;
}

/* =================
 * Responsive Design
 * =================
 */
/* desktop: everything wider than 950px */
@media (min-width: 950px) {
	.blue-div {
		float: left;
		width: 40%;
		margin-left: 5%;
		margin-right: 5%;
	}
}

/* mobile/tablet: everything smaller than 950px wide */
@media (max-width: 950px) {
	.blue-div {
		width: 90%;
		margin: 20px 5%;
	}
}