/* =================
 * Header and Footer
 * =================
 */
a {
	display: inline-block;
	width: 100%;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: white;
}

/* ======
 * Header
 * ======
 */
header {
	width: 100%;
	background-color: white;
}

h1 img {
	margin: 10px;
	width: 300px;
	color: rgb(150, 20, 20);
}

nav {
	clear: both;
}

nav::after {
	content: "";
	display: table;
	clear: both;
}

/* ======
 * Footer
 * ======
 */
footer {
	background-color: white;
	border-top: rgb(150, 20, 20) 20px solid;
}

footer img {
	background-color: #ffffff;
}

/* ======================
 * Other Content Elements
 * ======================
 */

.alone-link {
	font-family: "Nunito", Arial, Helvetica, sans-serif;
	font-size: 1rem;
	line-height: 2;
	width: auto;
	text-decoration: underline;
}

div img {
	width: 100%;
}

.bottom_img {
	position: relative;
	top: 5px;
}

.white-link:hover {
	color: black;
}

h3 {
	padding: 10px;
	box-sizing: border-box;
}

p {
	padding: 0 20px;
}

.main-content h2 {
	text-align: center;
	font-weight: bold;
}

/* =================
 * Responsive Design
 * =================
 */
/* desktop: everything wider than 950px */
@media (min-width: 950px) {
	/*=== Header ===*/
	h1 {
		float: left;
		text-align: center;
		font-size: 3rem;
	}

	#navBars {
		display: none;
	}

	#quickLinks {
		display: block !important;
	}

	header nav li {
		float: left;
		width: 25%;
		text-align: center;
		list-style-type: none;
		box-sizing: border-box;
		padding: 10px;
		background-color: rgb(150, 20, 20);
	}

	ul#account {
		float: right;
		margin: 20px;
	}

	#account li {
		float: left;
		text-align: center;
		list-style-type: none;
		box-sizing: border-box;
		margin-right: 10px;
		border-radius: 10px;
		padding: 20px;
		background-color: rgb(150, 20, 20);
	}

	/*=== footer ===*/
	footer div {
		float: left;
		padding: 10px;
		box-sizing: border-box;
		width: 20%;
	}

	footer li {
		text-align: center;
		list-style-type: none;
		box-sizing: border-box;
		padding: 10px;
	}

	footer ul {
		background-color: rgb(150, 20, 20);
		border-radius: 10px;
	}

	footer img {
		margin: 0 20%;
		width: 60%;
		height: auto;
	}

	/*=== other elements ===*/
	div {
		background-color: white;
		width: 75%;
		margin: 20px auto;
		border-radius: 10px;
	}
}
/* mobile/tablet: everything smaller than 950px wide*/
@media (max-width: 950px) {
	/*=== header ===*/
	h1 {
		width: 100%;
		text-align: center;
	}

	header nav ul {
		display: none;
	}

	ul#account {
		width: 100%;
		float: right;
	}

	#account li {
		float: left;
		text-align: center;
		list-style-type: none;
		box-sizing: border-box;
		padding: 10px;
		width: calc(100% / 3);
		background-color: rgb(150, 20, 20);
	}

	header nav li {
		top: 20px;
		width: 100%;
		text-align: center;
		list-style-type: none;
		box-sizing: border-box;
		padding: 10px;
		background-color: rgb(150, 20, 20);
	}

	/*=== footer ===*/
	footer {
		background-color: rgb(150, 20, 20);
	}

	footer h3 {
		text-align: center;
		background-color: white;
	}

	footer div {
		background-color: rgb(150, 20, 20);
		padding: 10px;
		box-sizing: border-box;
		width: 100%;
	}

	footer li {
		text-align: center;
		list-style-type: none;
		box-sizing: border-box;
		padding: 10px;
	}

	footer img {
		margin: 0 10%;
		width: 80%;
		height: auto;
	}

	/*=== other elements ===*/
	div {
		background-color: white;
		width: 100%;
		border-radius: 10px;
	}
}
