/* =================
 * Header and Footer
 * =================
 */
a {
	display: inline-block;
	width: 100%;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: white;
}

/* ======
 * Header
 * ======
 */
header {
	width: 100%;
	background-color: white;
}

h1 {
	float: left;
	text-align: center;
	font-size: 3rem;
}

h1 img {
	margin: 10px;
	width: 300px;
	color: rgb(150, 20, 20);
}

ul#account {
	float: right;
	margin: 20px;
}

#account li {
	float: left;
	text-align: center;
	list-style-type: none;
	box-sizing: border-box;
	margin-right: 10px;
	border-radius: 10px;
	padding: 20px;
	background-color: rgb(150, 20, 20);
}

nav {
	clear: both;
}

header nav li {
	float: left;
	width: 25%;
	text-align: center;
	list-style-type: none;
	box-sizing: border-box;
	padding: 10px;
	background-color: rgb(150, 20, 20);
}

nav::after {
	content: "";
	display: table;
	clear: both;
}

/* ======
 * Footer
 * ======
 */

footer {
	background-color: white;
	border-top: rgb(150, 20, 20) 20px solid;
}
footer div {
	float: left;
	padding: 10px;
	box-sizing: border-box;
	width: 25%;
}
footer li {
	text-align: center;
	list-style-type: none;
	box-sizing: border-box;
	padding: 10px;
	background-color: rgb(150, 20, 20);
}

/* ======================
 * Other Content Elements
 * ======================
 */

.alone-link {
	font-family: "Nunito", Arial, Helvetica, sans-serif;
	font-size: 1rem;
	line-height: 2;
	width: auto;
	text-decoration: underline;
}

div {
	background-color: white;
	width: 75%;
	margin: 20px auto;
	padding: 0 20px;
	border-radius: 10px;
}

div img {
	width: 100%;
}

.white-link:hover {
	color: black;
}