/* ===========================
 * Styles For Pages With Forms
 * ===========================
 */
form div {
	width: 75%;
	margin: 10px auto;
	padding: 20px;
	background-color: rgb(75, 100, 155);
	border-radius: 10px;
}

input {
	display: inline-block;
}

input[type=text] {
	width: 80%;
	border-radius: 10px;
	font-size: 1.5rem;
	margin: 10px 0;
}

select {
	width: 80%;
	border-radius: 10px;
	font-size: 1.5rem;
	margin: 10px 0;
}

form li {
	list-style-type: none;
	margin: 10px;
}

button {
	background-color: rgb(150, 20, 20);
	color: black;
	padding: 20px;
	border-radius: 10px;
	font-size: 1.5rem;
}

button:hover {
	color: white;
	text-decoration: underline;
}

#error {
	display: none;
}

/* =================
 * Responsive Design
 * =================
 */
/* mobile/tablet: everything smaller than 950px wide */
@media (max-width: 950px) {
	/* resize text inputs when on small screens */
	input[type=text] {
		width: 100%;
		border-radius: 10px;
		font-size: 1.5rem;
		margin: 0 0 10px 0;
	}
}