div.main-content::after {
	content: "";
	display: table;
	clear: both;
}

.blue-div {
	background-color: rgb(75, 100, 155);
	float: left;
	width: 40%;
	box-sizing: border-box;
	padding: 20px;
	border-radius: 10px;
}

.blue-div {
	margin-left: 5%;
	margin-right: 5%;
}

sup {
	font-size: 0.4rem;
}

#ms-azure:hover {
	color: black;
}