div {
	background-color: white;
	width: 75%;
	margin: 20px auto;
	padding: 0 20px;
	border-radius: 10px;
}

div.main-content::after {
	content: "";
	display: table;
	clear: both;
}

div img {
	width: 100%;
}

.blue-div {
	background-color: rgb(75, 100, 155);
	float: left;
	width: 40%;
	box-sizing: border-box;
	padding: 20px;
	border-radius: 10px;
}

.blue-div {
	margin-left: 5%;
	margin-right: 5%;
}

.alone-link {
	font-family: "Nunito", Arial, Helvetica, sans-serif;
	font-size: 1rem;
	line-height: 2;
	width: auto;
	text-decoration: underline;
}

sup {
	font-size: 0.4rem;
}

#ms-azure:hover {
	color: black;
}