* {
	font-family: "Myriad Pro", Arial, Helvetica, sans-serif;
	font-weight: normal;
	background-color: white;
	color: black;
	margin: 0;
	padding: 0;
	border: 0;
}

article {
	border: 1px solid rgb(50, 0, 0);
}

h1 {
	text-align: center;
	color: rgb(150, 20, 20);
}

header {
	width: 100%;
	background-color: rgb(75, 100, 155);
}

nav::after {
	content: "";
	display: table;
	clear: both;
}