* {
	font-family: "Myriad Pro", Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: black;
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	background-color: rgb(75, 100, 155);
}

p {
	font-family: "Nunito", Arial, Helvetica, sans-serif;
	font-size: 1rem;
	line-height: 2;
}