form div {
	width: 75%;
	margin: 10px auto;
	padding: 20px;
	background-color: rgb(75, 100, 155);
	border-radius: 10px;
}

input {
	display: inline-block;
}

form li {
	list-style-type: none;
	margin: 10px;
}

button {
	background-color: rgb(150, 20, 20);
	color: black;
	padding: 20px;
	border-radius: 10px;
	font-size: 1.5rem;
}

button:hover {
	color: white;
	text-decoration: underline;
}
